# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log

# IntelliJ
.idea/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Video/JSON data (Keep these local)
videos/
json input/
output/
old plugin/
